@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-family: "Open Sans" sans-serif;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  overflow: hidden;
}

h1 {
  margin: 0;
  margin-bottom: .3em;
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

p {
  margin:0;
  font-size: 2rem;
  font-style: italic;
}

.img-flex {
  max-height: 500px;
  max-width: 50em;
}

.banner-content {
  position: absolute;
  padding: 0 1.5rem;
  bottom: 1rem;
  top: .3em;
}
