@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  display: block;
  position: relative;
  overflow: hidden;
  max-height: 500px;
  width: 100%;

}

div h2 {
  margin: 0;
  margin-bottom: .3em;
  font-size: 4rem;
}

span {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.4;
}

p {
  margin: 0;
  font-size: 2rem;
  font-style: italic;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  padding: 0 1.5rem;
  bottom: 2rem;
  max-width: 50em;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
